body {
    background: #D08C60;
    font-family: Garamond, serif;
}
h1 {
    color: #F4E1C4;
    text-align: center; 
    font-family: Copperplate, Papyrus, fantasy;
}
projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(222, 222, 222); /* pick a color */
border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(122, 106, 133); /* choose a color */
display: block;
margin: auto;
}